server:
  port: 8087

spring:
  cloud:
    gateway:
      default-filters:
        - AddResponseHeader=X-Frame-Options, DENY
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "Content-Type"
              - "Authorization"
              - "X-Requested-With"
              - "Accept"
              - "Origin"
            exposedHeaders:
              - "Access-Control-Allow-Origin"
              - "Access-Control-Allow-Credentials"
            allowCredentials: true

      routes:
        - id: orchestrator-service
          uri: http://localhost:8084
          predicates:
            - Path=/orchestrator/**
        - id: mobility-service
          uri: http://localhost:8081
          predicates:
            - Path=/mobility/**
